{% extends 'base.html.twig' %}

{% block body %}
    <!-- Body -->
    <div class="container">
        <section class="my-5">
            <h1>Bienvenue {{ app.user.nom }}</h1>
            <hr>
            <center>
                <img src="https://www.draeger.com/Products/Image/cse-connect-office-img-d-698-2018.jpg">
            </center>
        </section>
    </div>
{% endblock %}