{% extends 'base.html.twig' %}

{% block body %}
    <!-- Body -->
    <div class="container">
        <section class="my-5">
            <h1>Accueil</h1>
            <hr>
            <center>
                <img src="https://www.snds.gouv.fr/img/accueil-img.jpg" width="900">
            </center>
        </section>
    </div>
{% endblock %}